<div class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color:midnightblue;">
    <a class="navbar-brand" style="color:white" href="#">
      <img src="/kissclipart-pill-clipart-pharmaceutical-drug-tablet-stock-phot-31a89fe199d044bb.png" width="30"
        height="30" alt="">
      Navbar
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" style="color:white" href="/">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:white" href="#">Link</a>
        </li>
        {{#if login}}
        <li>
          <a class="navbar-brand" style="color:white" href="/notification"><i class="fa fa-bell"
              style="color:white"></i></a>
        </li>
        {{/if}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color:white" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            {{#if login}}
            <a class="dropdown-item" href="/user/profile">Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/user/logout">Logout</a>

            {{ else }}
            <a class="dropdown-item" href="/user/signup">Sign up</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/user/login">Sign in</a>
            {{/if}}
          </div>
        </li>
        <!--for admin-->
        {{#if_eq login "2016331070"}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color:white" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin Action
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item " href="/addSeller">Add Seller</a>
            <a class="dropdown-item" href="/enrollAdmin">Enroll Admin</a>
            <a class="dropdown-item" href="/registerUser">Register User</a>
          </div>
        </li>
         <li class="nav-item active">
          <a class="nav-link" style="color:white" href="/viewAllMedicine"><i class="fa fa-eye"
              style="color:white">View All</i></a>
        </li>
        
        {{/if_eq}}
         <!--for producer-->
        {{#if_eq userType "producer"}}
        <li>
          <a class="navbar-brand" style="color:white" href="/insertMedicine"><i class="fa fa-medkit"
              style="color:white">Insert</i></a>
        </li>
        {{/if_eq}}
      </ul>
      <form action="/queryMedicineById" class="form-inline my-2 my-lg-0" method="POST">
        <div class="form-group">
          <label for="search"></label>
          <input class="form-control mr-sm-2" type="search" id="search" name="search" class="form-control"
            placeholder="Search By ID">
        </div>
       <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Search</button>
      </form>
      {{#if name}}
      <!-- Sidebar Header-->
      <!-- Sidebar Header-->
      <div class="col-2 float-right">
        <a class="nav-link" style="color:white" href="#">
          <img src="{{concate "/"  Img_Path }}" width="30" height="30" alt="..."
            class="img-fluid rounded-circle">
          Welcome, {{ name }}
        </a>
      </div>
      {{/if}}
    </div>
  </nav>
</div>