{{#*inline "head-block"}}
<!--<link rel="stylesheet" href="some-other-styles.css">-->
{{/inline}}
<br/>

<div class="homeStyle" style="height: 500px;">
  {{#if message}}
  <div class="alert alert-danger">

    <p>{{this.message}}</p>

  </div>
  {{/if}}

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
  <center>
<h2 style="color: royalblue">
  TO
</h2>
  </center>
    <center>
<h1 style="color: yellow">
  Secure World
</h1>
  </center>
