<body class="container">
    <div class="col-md-4 offset-md-4 centered">
        <br />
        <br />
        <br />
        <h1 style="text-align: center;color:white">Insert Medicine</h1>
        <br />
        {{#if message}}
        <div class="alert alert-danger">

            <p>{{this.message}}</p>

        </div>
        {{/if}}
        <form action="/insertMedicine" method="POST">
            <div class="form-group" style="color:white">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" class="form-control">
            </div>
            <div class="form-group" style="color:white">
                <label for="id">Medicine Id:</label>
                <input type="text" name="id" id="id" class="form-control">
            </div>
            
            <div class="form-group" style="color:white">
                <label for="val_month">Validity:</label>
                <input type="text" name="val_month" id="val_month" placeholder="month(example: 24)" class="form-control">
            </div>
            <div class="form-group" style="color:white">
                <input type="file" name="img" id="img" accept="image/*">
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button type="submit" class="btn btn-primary">Insert</button>
        </form>

    </div>
    </div>
</body>