<body class="container">
    <div class="col-md-4 offset-md-4 centered">
        <br />
        <br/>
        <br/>
        <h1 style="text-align: center;color:black">Insert Medicine</h1>
        <br />
        {{#if message}}
        <div class="alert alert-danger">

            <p>{{this.message}}</p>

        </div>
        {{/if}}
        <form action="/insertMedicine" method="POST">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" name="name" id="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="id">Id:</label>
                <input type="text" name="id" id="id" class="form-control">
            </div>
            <div class="form-group">
                <label for="cStage">Currstage:</label>
                <input type="text" name="cStage" id="cStage" class="form-control">
            </div>
            <div class="form-group">
                <label for="company">PCompany:</label>
                <input type="text" name="company" id="company" class="form-control">
            </div>
            <div class="form-group">
                <label for="ownerId">Owner ID:</label>
                <input type="text" name="ownerId" id="ownerId" class="form-control">
            </div>
            <div class="form-group">
                <label for="pDate">Production Date:</label>
                <input type="text" name="pDate" id="pDate" class="form-control">
            </div>
            <div class="form-group">
                <label for="expDate">Expire Date:</label>
                <input type="text" name="expDate" id="expDate" class="form-control">
            </div>
            <div class="form-group">
                <input type="file" name="img" id="img" accept="image/*">
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button type="submit" class="btn btn-primary">Insert</button>
        </form>

    </div>
    </div>
</body>