  <nav class="side-navbar">
          <!-- Sidebar Header-->
          <div class="sidebar-header d-flex align-items-center">
            <div class="avatar"><img src="" alt="..." class="img-fluid rounded-circle"></div>
            <div class="title">
              <h1 class="h4">admin</h1>
              <p>Web Designer</p>
            </div>
          </div>
          </nav>