<!--<div class="p-3 mb-2 bg-dark text-white">.bg dark</div>-->

    <body class="container">
        <div class="col-md-4 offset-md-4 centered">
            <br />
            <h1 style="text-align: center;color:black">Sign Up</h1>
            <br />
            {{#if message}}
            <div class="alert alert-danger">

                <p>{{this.message}}</p>

            </div>
            {{/if}}

            <form action="/user/signup" method="POST">

                <div class="form-group">
                    <label for="id">NID/Licence ID</label>
                    <input type="text" id="id" name="id" class="form-control">
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" class="form-control">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" id="password" name="password" class="form-control">
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" id="phone" name="phone" class="form-control">
                </div>
                <div class="form-group">
                    <label for="userType">UserType</label>
                    <input type="text" id="userType" name="userType" class="form-control">
                </div>
                <div class="form-group">
                <input type="file" name="img" id="img" accept="image/*">
            </div>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <button type="submit" class="btn btn-danger">Sign Up</button>
            </form>

        </div>

    </body>
