body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }

a {
  color: #00B7FF;
}
.thumbnail img {
    max-height: 150px;
}

.thumbnail .description {
    color: #7f7f7f;
}

.price {
    font-weight: bold;
    font-size: 16px;
}

.container{
    max-width: unset;
}
.homeStyle{
    background-image: url('../Welcome.jpg') ;
    background-repeat: no-repeat;
    background-size:unset;
    background-position: center;

}

.signupStyle{
    background-image: url('../block.jpg') ;
    background-repeat: no-repeat;
    background-size:100%;
}

pp{ 
    top: -120px; 
    left: 400px; 
    padding: 2px; 
    border: 1px solid blue; 
    display: inline-block; 
    background: #E3F2FD; 
    } 

p1{ 
    top: 10px; 
    left: 300px; 
    padding: 2px; 
    display: inline-block; 
    background:white; 
    } 

span{
    font-size: 0.7em;
}